ConnectionStrings:
  DefaultConnection: "Host=postgres;Port=5432;Database=assessmentdb;Username=postgres;Password=postgres"

Logging:
  LogLevel:
    Default: Information
    Microsoft: Warning
    Microsoft.Hosting.Lifetime: Information
AllowedHosts: "*"
