@page "/create-assessment"
@rendermode InteractiveServer
@inject AssessmentService AssessmentService
@inject UserService UserService
@inject NavigationManager NavigationManager

<RadzenButton Text="Home" Click="BackToHome" ButtonStyle="ButtonStyle.Light" />

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="max-width: 400px; width: 100%; padding: 1rem; box-shadow: 0 0 10px rgba(0,0,0,0.1); border-radius: 5px; background-color: white;">
        <h3 style="text-align: center;">New Assessment</h3>
        <div style="margin-top: 1rem;">
            <RadzenLabel Text="Assessment Type:" />
            <RadzenDropDown @bind-Value="assessmentType" Data="@(new List<string> { "Product", "Platform" })" Style="width: 100%;" />
        </div>
        <div style="margin-top: 1rem;">
            <RadzenLabel Text="Application ID:" />
            <RadzenTextBox @bind-Value="applicationID" Style="width: 100%;" />
        </div>
        <RadzenButton Text="Create" Click="CreateNewAssessment" Style="margin-top: 1rem;" ButtonStyle="ButtonStyle.Primary" />
    </div>
</div>

@code {
    private string assessmentType = "Product";
    private string applicationID;
    private async Task CreateNewAssessment()
    {
        var assessment = new Assessment
        {
            Email = UserService.Email,
            AssessmentType = assessmentType,
            ApplicationID = applicationID
        };
        await AssessmentService.CreateAssessmentAsync(assessment, assessmentType);
        NavigationManager.NavigateTo("/assessments", true);
    }
    
    private void BackToHome() => NavigationManager.NavigateTo("/", true);
}

<style>
.rz-button.rz-primary.rz-shade-default {
        background-color: #00436a;
    }
</style>